<head>
    <script async defer 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuasqrt-8PH1x3heDeSkFoJl20W7WC-qY&libraries=visualization&callback=initMap">
    </script>
    <script async defer src="assets/js/heatmap.min.js"></script>
    <script async defer src="assets/js/gmaps-heatmap.js"></script>
    <script async defer src="https://d3js.org/d3.v4.min.js"></script>
</head>

<body>
    <div id="map"> </div>
    <script>
        function initMap() {
        var map, heatmap;

         map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: -6.244, lng: 106.803},
          mapTypeId: 'satellite'
        });

          var url = 'https://gojek-sme.herokuapp.com/sentiment/locate/-1/2017-01-01/2017-12-01';
            // var url = 'localhost:5000/sentiment/locate/-1/2017-01-01/2017-12-12'
          var result = [];
            
            d3.json(url, function(response) {
                var i;
                d=response;
                for (i=0; i<response.length; i++) {
                    var entry = {lat: response[i][0],
                                lng: response[i][1],
                                count: 10}
                    result.push(entry);
                }
            });


          heatmap = new HeatmapOverlay(map, 
            {
                "radius":2, 
                "maxOpacity": 1,
                "scaleRadius": true,
                "useLocalExtrema":true,
                latField: 'lat',
                lngField: 'lng',
                valueField: 'count'
            });

        var testData = {
            max: 10,
            data: result
        };

            heatmap.setData(testData);
        }

        initMap();
    </script>
</body>
