<head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  
    <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
    <script>
        var date = new Date(), y = date.getFullYear(), m = date.getMonth();
        var firstDay = new Date(y, m - 1, 1);
        var lastDay = new Date(y, m + 1 - 1, 0);
        var firstDstring = firstDay.toISOString().substring(0,10);
        var lastDstring = lastDay.toISOString().substring(0,10);
        var monthString = lastDay.toDateString().substring(4,7);
        var url = 'https://gojek-sme.herokuapp.com/sentiment/count/'.concat(firstDstring, '/', lastDstring);

        Plotly.d3.json(url, function(response) {
            var num_neg;
            var num_net;
            var num_pos;
            var i;
            if (response[0]['data'].length == 0) {
                var message = "No tweets this month."
            } else {
                for(i=0; i<3; i++) {
            
                    if (response[0]['data'][i]['sentiment'] == 'Negative') {
                        num_neg = response[0]['data'][i]['count'];
                    }
            
                    if (response[0]['data'][i]['sentiment'] == 'Neutral') {
                        num_net = response[0]['data'][i]['count'];
                    }

                    if (response[0]['data'][i]['sentiment'] == 'Positive') {
                        num_pos = response[0]['data'][i]['count'];
                    }
                }
            }
        
            var data = [{
                x: ['Negative', 'Neutral', 'Positive'],
                y: [num_neg, num_net, num_pos],
                type: 'bar',
                marker: {
                    color: ['rgb(252.0, 99.0, 71.0)', 
                            'rgb(255.0, 255.0, 191.0)',
                            'rgb(0, 100.0, 0)']
                },
                width: 1
            }];

            var layout = {
                title: 'Sentiment for the month of '.concat(monthString),
                width: 400,
                height: 300
            }

            Plotly.newPlot('myDiv', data, layout);

        });
        
    </script>
</body>
