
<!DOCTYPE html>
<meta charset="utf-8">
<link rel = "stylesheet"

  href = "sentiment_graph_styling.css" />
<body>
<div><h1 align="center" id="logo">GOJEK Indonesia Sentiment in the year 2017</h1></div>
<div class="stacked-chart-container js-stacked-chart-container" id="STCKcontainer">
    <form class="controls">
        <label><input type="radio" name="mode" value="stacked" onclick="stackChangeTo(true);">Stacked</label>

        <label><input type="radio" name="mode" value="grouped" onclick="stackChangeTo(false);">Grouped</label>
         <label><input type="button" name="bikboi" value="yearly" onclick="clickedYear();" id="yearbutton"></label>
        <label><input type="button" name="bikboi" value="monthly" onclick="clickedMonth();"id="monthbutton"> </label>
        <label><input type="range" name="mode" min="1" max="12"
    step="1"                 value="monthSlider" onchange="changedRange();"    id="monateSlider" ></label>
    </form>


    <svg class="stacked-chart js-stacked-chart"></svg>
    <div class="tooltip js-tooltip">
        <div class="tooltip-wrapper">
            <table class="tooltip-table js-tooltip-table"></table>
        </div>
    </div>
</div>

<script type="text/x-underscore" class="js-tooltip-table-content">
<table>
    <% _.each(bars, function (bar) { %>
        <tr>
            <td><%= bar.name %></td>
            <td><%= bar.value %></td>
        </tr>
    <% }); %>
</table>
</script>

<script src="https://d3js.org/d3.v3.min.js" integrity="sha384-N8EP0Yml0jN7e0DcXlZ6rt+iqKU9Ck6f1ZQ+j2puxatnBq4k9E8Q6vqBcY34LNbn" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" integrity="sha384-FZY+KSLVXVyc1qAlqH9oCx1JEOlQh6iXfw3o2n3Iy32qGjXmUPWT9I0Z9e9wxYe3" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha384-nrOSfDHtoPMzJHjVTdCopGqIqeYETSXhZDFyniQ8ZHcVy08QesyHcnOUpMpqnmWq" crossorigin="anonymous"></script>
<script type="text/javascript">
"use strict";

/*global $, d3, _ */
document.getElementById("monateSlider").style.visibility = "hidden";
var seriesNames = ["positive", "neutral", "negative"];
var isStacked=true;
var layers;
var mainArea;
var svg;
var year=2017;
var legendSeries;

var monthsOftheYear=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
var daysOfMonths=[31,28,31,30,31,30,31,31,30,31,30,31];
var cumulative=[];
cumulative.push(0);
var counter=0;
for(var i=0;i<12;++i){
counter+=daysOfMonths[i];
cumulative.push(counter);
}
var leapdaysOfMonths=[31,29,31,30,31,30,31,31,30,31,30,31];

function stackChangeTo(bool){
 isStacked=bool;
 console.log(isStacked);
}
function toDayMonthString(idx,daysArr){
var monthCounter=0;
while(true){
 idx=idx-daysArr[monthCounter];
 if(idx<0)break;
monthCounter=monthCounter+1;
}
idx=idx+daysArr[monthCounter];
return monthsOftheYear[monthCounter]+" "+(idx+1);
}

var leapYearSTR=[]
var normalYearSTR=[]
leapYearSTR.push("Jan 1");
for(var i=0;i<365;++i){
leapYearSTR.push(toDayMonthString(i,leapdaysOfMonths));
normalYearSTR.push(toDayMonthString(i,daysOfMonths));


}

//Globalisastion of variables.
var chartMode,
    numEnabledSeries,
    lastHoveredBarIndex,
    containerWidth,// = document.querySelector(".js-stacked-chart-container").clientWidth,
    containerHeight,// = 600,//500
    margin, //= {top: 80, right: 60, bottom: 20, left: 60},
    width,// = containerWidth - margin.left - margin.right,
    height,// = containerHeight - margin.top - margin.bottom,
    widthPerStack,// = width / numSamples,
    animationDuration,// = 200,
    delayBetweenBarAnimation,// = 6,//10
    numYAxisTicks,// = 8,
    maxStackY,// = d3.max(data, function (series) { return d3.max(series.values, function (d) { return d.y0 + d.y; }); }),
    paddingBetweenLegendSeries,// = 5,
    legendSeriesBoxX,// = 0,
    legendSeriesBoxY,// = 0,
    legendSeriesBoxWidth,// = 15,
    legendSeriesBoxHeight,// = 15,
    legendSeriesHeight,// = legendSeriesBoxHeight + paddingBetweenLegendSeries,
    legendSeriesLabelX,//= -5,
    legendSeriesLabelY,// = legendSeriesBoxHeight / 2,
    legendMargin,// = 20,
    legendX,// = containerWidth - legendSeriesBoxWidth - legendMargin,
    legendY,// = legendMargin,
    tooltipTemplate,// = _.template(document.querySelector(".js-tooltip-table-content").innerHTML),
    overlayTopPadding,// = 20,
    tooltipBottomMargin,// = 12;

    binsScale,
 //   xScale,
    yScale,
    heightScale,
    xAxis,
    yAxis,
    enabledSeries,
    seriesClass,
    layerClass,
    legendSeriesClass,
    barDelay,
    joinKey,
    stackedBarX,
    stackedBarY,
    stackedBarBaseY,
    stackedBarWidth,
    groupedBarX,
    groupedBarY,
    groupedBarBaseY,
    groupedBarWidth,
    barHeight,
    transitionStackedBars;


//WE ARE GOING TO USE THIS VAR FOR ThE ACTUAL SENTIMENT ANALYSIS.
// CHANGE THIS -------------------------------------------------------------------------------


function bumpLayer(n,o){
    function bump(a) {
        var x = 1 / (.1 + Math.random()),
            y = 2 * Math.random() - .5,
            z = 10 / (.1 + Math.random());
        for (var i = 0; i < n; i++) {
            var w = (i / n - y) * z;
            a[i] += x * Math.exp(-w * w);
        }
    }

    var a = [], i;
    for (i = 0; i < n; ++i) a[i] = o + o * Math.random();//Initialise random variables from 0 to 364.
    for (i = 0; i < 5; ++i) bump(a);//Bump vars.
    return a.map(function (d, i) { return {x: i, y: Math.max(0, d)}; });
    //d is the vlaue,
    //returns new object with keys: x and y.
}

var posVals = [];
var netVals = [];
var negVals = [];
var now = new Date()

for (var d = new Date(2017, 1, 1); d <= now; d.setDate(d.getDate() + 1)) {
    i += 1;
    
    var address = 'https://gojek-sme.herokuapp.com/sentiment/count/';
    var date = d.toISOString().substring(0,10);
    address = address.concat(date, '/', date);
    d3.json(address, function(response) {
        x = response
        if (typeof response != 'undefined' && !isEmpty(response)) {
            console.log(response)
            var negCount = response[0]['count']; // ['Negative']
            var netCount = response[1]['count']; // ['Neutral']
            var posCount = response[2]['count']; // ['Positive']

            if (!isNaN(posCount)) {
                posVals.push({x: i, y: posCount});
            }
            if (!isNaN(netCount)) {
                netVals.push({x: i, y: netCount});
            }
            if (!isNaN(negCount)) {
                negVals.push({x: i, y: negCount});
            }
        }
    });
}


var positiveVals = posVals; //bumpLayer(365,10);
var neutralVals = netVals; //bumpLayer(365,20);
var negativeVals = negVals; //bumpLayer(365,15);
var posneutneg=[positiveVals,neutralVals,negativeVals];
var fullData = seriesNames.map(function (name,i) {
     return {
         name: name,
         values:posneutneg[i],
     };
 });

 //-----------------------------------------------------------------------------------------






var data;
var stack;
var start;
var end;
var monthGlobal;
var isMonthGlobal;
run(false,10,true);
function run(isMonthView,month,isStacked){
 monthGlobal=month;
 isMonthGlobal=isMonthView;
console.log("monthview?: "+isMonthView);
var numSamples;
   var numSeries = seriesNames.length;
    //--------------------------------------------DO SOMETHING W THE DATA HERE------------

    if(isMonthView){
     numSamples=cumulative[month]-cumulative[month-1];
     start=cumulative[month-1];
     end=cumulative[month];
     console.log("days in month "+month+": "+numSamples);
     data = seriesNames.map(function (name,i) {
         return {
             name: name,
             values: posneutneg[i].slice(cumulative[month-1],cumulative[month])//0.1
         };

     });
  //  console.log("slicelen: "+posneutneg[0].slice(cumulative[month-1],cumulative[month]).length);
    }


    else{
     //Year view:
     numSamples=365;
     start=0;
     end=365;
     data = seriesNames.map(function (name,i) {
          return {
              name: name,
              values:posneutneg[i],
          };
      });//fullData;

    }

    console.log("numsamples: "+numSamples);

    /**data = seriesNames.map(function (name) {
        return {
            name: name,
            values: bumpLayer(numSamples, 0.6)//0.1
        };
    });
*/
    //--------------------------------------------------------------------------------------------
    stack = d3.layout.stack().values(function (d) { return d.values; });

stack(data);

//var chartMode = "stacked",

   chartMode=isStacked?"stacked":"grouped",
    numEnabledSeries = numSeries,
    lastHoveredBarIndex,
    containerWidth = document.querySelector(".js-stacked-chart-container").clientWidth,
    containerHeight = 600,//500
    margin = {top: 80, right: 60, bottom: 20, left: 60},
    width = containerWidth - margin.left - margin.right,
    height = containerHeight - margin.top - margin.bottom,
    widthPerStack = width / numSamples,
    animationDuration = 200,
    delayBetweenBarAnimation = 6,//10
    numYAxisTicks = 8,
    maxStackY = d3.max(data, function (series) { return d3.max(series.values, function (d) { return d.y0 + d.y; }); }),
    paddingBetweenLegendSeries = 5,
    legendSeriesBoxX = 0,
    legendSeriesBoxY = 0,
    legendSeriesBoxWidth = 20,
    legendSeriesBoxHeight =20,
    legendSeriesHeight = legendSeriesBoxHeight + paddingBetweenLegendSeries,
    legendSeriesLabelX = -5,
    legendSeriesLabelY = legendSeriesBoxHeight / 2,
    legendMargin = 20,
    legendX = containerWidth - legendSeriesBoxWidth - legendMargin,
    legendY = legendMargin,
    tooltipTemplate = _.template(document.querySelector(".js-tooltip-table-content").innerHTML),
    overlayTopPadding = 20,
    tooltipBottomMargin = 12;

 binsScale = d3.scale.ordinal()
  //.domain(d3.range(365))
  .domain(d3.range(start,end,1))
  //.domain(d3.range(numSamples))
  //.domain(d3.range([start,end]))
  //.domain([start,end])
    .rangeBands([0, width], 0.1, 0.05);

var xScale = d3.scale.linear()
    //.domain([0, numSamples])
    .domain([start,end])
    //.range([start,end]);
   .range([0, width]);

 yScale = d3.scale.linear()
    .domain([0, maxStackY])
    .range([height, 0]);

 heightScale = d3.scale.linear()
    .domain([0, maxStackY])
    .range([0, height]);

 xAxis = d3.svg.axis()
    .scale(xScale) //binsScale)
    .ticks(numSamples)
    .orient("bottom");

 yAxis = d3.svg.axis()
    .scale(yScale)
    .orient("left");


 enabledSeries = function () { return _.reject(data, function (series) { return series.disabled; }); };

seriesClass = function (seriesName) { return "series-" + seriesName.toLowerCase(); };

 layerClass = function (d) { return "layer " + seriesClass(d.name); };

 legendSeriesClass = function (d) { return "clickable " + seriesClass(d); };
barDelay = function (d, i) { return i * delayBetweenBarAnimation; };

 joinKey = function (d) { return d.name; };

 stackedBarX = function (d) { return binsScale(d.x); };

 stackedBarY = function (d) { return yScale(d.y0 + d.y); };

 stackedBarBaseY = function (d) { return yScale(d.y0); };

// stackedBarWidth = binsScale.rangeBand();
stackedBarWidth=binsScale.rangeBand();
 groupedBarX = function (d, i, j) { return binsScale(d.x) + j * groupedBarWidth(); };

groupedBarY = function (d) { return yScale(d.y); };

 groupedBarBaseY = height;

 groupedBarWidth = function () { return binsScale.rangeBand() / numEnabledSeries; };

barHeight = function (d) { return heightScale(d.y); };

 transitionStackedBars = function (selection) {
    selection.transition()
        .duration(animationDuration)
        .delay(barDelay)
        .attr("y", stackedBarY)
        .attr("height", barHeight);
};
 svg = d3.select(".js-stacked-chart")
    .attr("width", containerWidth)
    .attr("height", containerHeight);

 mainArea = svg.append("g")
    .attr("class", "main-area")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

mainArea.append("g")
   .attr("class", "grid-lines")
    .selectAll(".grid-line").data(yScale.ticks(numYAxisTicks))
        .enter().append("line")
            .attr("class", "grid-line")
            .attr("x1", 0)
            .attr("x2", width)
            .attr("y1", yScale)
            .attr("y2", yScale);

var layersArea = mainArea.append("g")
    .attr("class", "layers");

layers = layersArea.selectAll(".layer").data(data)
    .enter().append("g")
        .attr("class", layerClass);


layers.selectAll("rect").data(function (d) { return d.values; })
    .enter().append("rect")
        .attr("x", stackedBarX)
        .attr("y", height)
        .attr("width", stackedBarWidth)
        .attr("height", 0)
        .call(transitionStackedBars);
        console.log(stackedBarWidth);

        mainArea.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

mainArea.append("g")
    .attr("class", "y axis")
    .call(yAxis);

svg.append("rect")
    .attr("class", "overlay")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    .attr("x", 0)
    .attr("y", 0)
    .attr("width", width)
    .attr("height", height)
    .on("mousemove", showTooltip)
    .on("mouseout", hideTooltip);

    legendSeries = svg.append("g")
       .attr("class", "legend")
       .attr("transform", "translate(" + legendX + "," + legendY + ")")
       .selectAll("g").data(seriesNames.reverse())
           .enter().append("g")
               .attr("class", legendSeriesClass)
               .attr("transform", function (d, i) { return "translate(0," + (i * legendSeriesHeight) + ")"; })
               .on("click", toggleSeries);

    legendSeries.append("rect")
       .attr("class", "series-box")
       .attr("x", legendSeriesBoxX)
       .attr("y", legendSeriesBoxY)
       .attr("width", legendSeriesBoxWidth)
       .attr("height", legendSeriesBoxHeight);

    legendSeries.append("text")
       .attr("class", "series-label")
       .attr("x", legendSeriesLabelX)
       .attr("y", legendSeriesLabelY)
       .text(String);


d3.selectAll(".js-stacked-chart-container input").on("change", changeChartMode);
}
/**
 * Toggles a certain series.
 * @param {String} seriesName The name of the series to be toggled
 */
function toggleSeries (seriesName) {
    var series,
        isDisabling,
        newData;

    series = _.findWhere(data, { name: seriesName });
    isDisabling = !series.disabled;

    if (isDisabling === true && numEnabledSeries === 1) {
        return;
    }

    d3.select(this).classed("disabled", isDisabling);

    series.disabled = isDisabling;
    newData = stack(enabledSeries());
    numEnabledSeries = newData.length;
    layers = layers.data(newData, joinKey);

    if (isDisabling === true) {
        removeSeries();
    }
    else {
        addSeries();
    }
}

/**
 * Removes a certain series.
 */
function removeSeries () {
    var layerToBeRemoved;

    layerToBeRemoved = layers.exit();
    if (chartMode === "stacked") {
        removeStackedSeries(layerToBeRemoved);
    }
    else {
        removeGroupedSeries(layerToBeRemoved);
    }
}

/**
 * Smoothly transitions and then removes a certain series when the chart is in `stacked` mode.
 * @param {d3.selection} layerToBeRemoved The layer that contains the series' bars
 */
function removeStackedSeries (layerToBeRemoved) {
    layerToBeRemoved.selectAll("rect").transition()
        .duration(animationDuration)
        .delay(barDelay)
        .attr("y", stackedBarBaseY)
        .attr("height", 0)
        .call(endAll, function () {
            layerToBeRemoved.remove();
        });

    transitionStackedBars(layers.selectAll("rect"));
}

/**
 * Smoothly transitions and then removes a certain series when the chart is in `grouped` mode.
 * @param {d3.selection} layerToBeRemoved The layer that contains the series' bars
 */
function removeGroupedSeries (layerToBeRemoved) {
    layerToBeRemoved.selectAll("rect").transition()
        .duration(animationDuration)
        .delay(barDelay)
        .attr("y", groupedBarBaseY)
        .attr("height", 0)
        .call(endAll, function () {
            layerToBeRemoved.remove();

            layers.selectAll("rect").transition()
                .duration(animationDuration)
                .delay(barDelay)
                .attr("x", groupedBarX)
                .attr("width", groupedBarWidth);
        });
}

/**
 * Adds a certain series.
 */
function addSeries () {
    var newLayer;

    newLayer = layers.enter().append("g")
        .attr("class", layerClass);

    if (chartMode === "stacked") {
        addStackedSeries(newLayer);
    }
    else {
        addGroupedSeries(newLayer);
    }
}

/**
 * Smoothly transitions and adds a certain series when the chart is in `stacked` mode.
 * @param {d3.selection} newLayer The new layer to be added
 */
function addStackedSeries (newLayer) {
    newLayer.selectAll("rect").data(function (d) { return d.values; })
        .enter().append("rect")
            .attr("x", stackedBarX)
            .attr("y", stackedBarBaseY)
            .attr("width", stackedBarWidth)
            .attr("height", 0);

    transitionStackedBars(layers.selectAll("rect"));
}

/**
 * Smoothly transitions and adds a certain series when the chart is in `grouped` mode.
 * @param {d3.selection} newLayer The new layer to be added
 */
function addGroupedSeries (newLayer) {
    var newBars;

    layers.selectAll("rect").transition()
        .duration(animationDuration)
        .delay(barDelay)
        .attr("x", groupedBarX)
        .attr("width", groupedBarWidth)
        .call(endAll, function () {
            newBars = newLayer.selectAll("rect").data(function (d) { return d.values; })
                .enter().append("rect")
                    .attr("y", groupedBarBaseY)
                    .attr("width", groupedBarWidth)
                    .attr("height", 0);

            layers.selectAll("rect").attr("x", groupedBarX);

            newBars.transition()
                .duration(animationDuration)
                .delay(barDelay)
                .attr("y", groupedBarY)
                .attr("height", barHeight);
        });
}

/**
 * Changes the chart to the selected mode: `stacked` or `grouped`.
 * In `stacked` mode, the bars of each bin are stacked together.
 * In `grouped` mode, the bars of each bin are placed side by side.
 */
function changeChartMode() {
    chartMode = this.value;
    if (chartMode === "stacked") {
        stackBars();
    }
    else {
        groupBars();
    }
}

/**
 * Smoothly transitions the chart to `stacked` mode.
 * In this mode, the bars of each bin are stacked together.
 */
function stackBars() {
    layers.selectAll("rect").transition()
        .duration(animationDuration)
        .delay(barDelay)
        .attr("y", stackedBarY)
        .transition()
            .duration(animationDuration)
            .attr("x", stackedBarX)
            .attr("width", stackedBarWidth);
}

/**
 * Smoothly transitions the chart to `grouped` mode.
 * In this mode, the bars of each bin are placed side by side.
 */
function groupBars() {
    layers.selectAll("rect").transition()
        .duration(animationDuration)
        .delay(barDelay)
        .attr("x", groupedBarX)
        .attr("width", groupedBarWidth)
        .transition()
            .duration(animationDuration)
            .attr("y", groupedBarY);
}

/**
 * Shows the tooltip.
 */
function showTooltip() {
    var hoveredBarIndex,
        tooltip;


    hoveredBarIndex = (d3.mouse(this)[0] / widthPerStack) | 0;
    if (hoveredBarIndex === lastHoveredBarIndex) {
        return;
    }
    lastHoveredBarIndex = hoveredBarIndex;

    layers.selectAll("rect").classed("highlighted", function (d, i) { return (i === hoveredBarIndex); });

    tooltip = $(".js-tooltip");
    tooltip.find(".js-tooltip-table").html(tooltipContent());
    tooltip.css({
        top:  margin.top  + highestBinBarHeight() - tooltip.outerHeight() - tooltipBottomMargin,
        left: margin.left + (hoveredBarIndex * widthPerStack) + (widthPerStack / 2) - (tooltip.outerWidth() / 2),
    }).fadeIn();
}

function tooltipContent () {
  var volume=0;
    var bars;
    var dee;
    bars = [];
     layers.each(function (d) {volume+=parseInt(d.values[lastHoveredBarIndex].y.toFixed(0))});
    layers.each(function (d) {
     //console.log(d.values)
     var val=parseInt(d.values[lastHoveredBarIndex].y.toFixed(0));
        bars.unshift({ name: d.name, value: val+",  "+(val*100/volume).toFixed(1)+"%" });

    });

    bars.unshift({name:"volume",value:volume});
  //TODO: This should be at a seperate text area.  bars.unshift({name:"most influential comment: stuff at idx: ",value: lastHoveredBarIndex});
    bars.unshift({name:"time ",value:normalYearSTR[(isMonthGlobal?cumulative[monthGlobal-1]:0)+lastHoveredBarIndex]});
    //bars.unshift({name:"day "+dee.values[lastHoveredBarIndex].x});
    return tooltipTemplate({ bars: bars });
}

/**
 * Hides the tooltip.
 */
function hideTooltip () {
  console.log("hide tooltip");
    $(".js-tooltip").stop().hide();

    layers.selectAll("rect")
        .filter(function (d, i) { return (i === lastHoveredBarIndex); })
        .classed("highlighted", false);

    lastHoveredBarIndex = undefined;
}

/**
 * Calculates the height of the highest (not tallest) bar within a certain bin.
 * @return {Number} The height, in pixels, of the highest bar within a certain bin
 */
function highestBinBarHeight() {
    var bars,
        highestGroupBar;

    if (chartMode === "stacked") {
        highestGroupBar = _.last(layers.data()).values[lastHoveredBarIndex];
        return yScale(highestGroupBar.y0 + highestGroupBar.y);
    }
    else {
        bars = _.map(layers.data(), function (series) { return series.values[lastHoveredBarIndex]; });
        highestGroupBar = _.max(bars, function (bar) { return bar.y; });
        return yScale(highestGroupBar.y);
    }
}

/**
 * Calls a function at the end of **all** transitions.
 * @param {d3.transition} transition A D3 transition
 * @param {Function}      callback   The function to be called at the end of **all** transitions
 */
function endAll (transition, callback) {
    var n;

    if (transition.empty()) {
        callback();
    }
    else {
        n = transition.size();
        transition.each("end", function () {
            n--;
            if (n === 0) {
                callback();
            }
        });
    }
}

// Inspired by Lee Byron's test data generator
//n is 365 here.
//}
//HERE IS THE DAAM RUN END.
//WILSONS EDIT. USE THIS TO GET DATA INSTEAD. (the array)
function getData(){
}
//var year=2017;
//var reset_var="rect";//".js-stacked-chart-container input";

function changedRange(){
var mon= getRangeInput();
resetLayer();
run(true,mon,isStacked);

}
function getRangeInput(){

console.log("changed!");

var month;
var num=parseInt(document.getElementById("monateSlider").value);
switch(num){
 case 1:month ="January";break;
   case 2:month ="February";break;
     case 3:month ="March";break;
       case 4:month ="April";break;
         case 5:month ="May";break;
           case 6:month ="June";break;
             case 7:month ="July";break;
               case 8:month ="August";break;
                 case 9:month ="September";break;
                   case 10:month ="October";break;
                     case 11:month ="November";break;
                       case 12:month ="December";break;
}
console.log(month);
document.getElementById("logo").innerHTML="GOJEK Indonesia Sentiment on "+month+" "+year;
return num;
}

function clickedYear(){

console.log("clicked year!");

document.getElementById("logo").innerHTML="GOJEK Indonesia Sentiment in the year "+year;
document.getElementById("monateSlider").style.visibility = "hidden";
document.getElementById("yearbutton").style.color="green";
document.getElementById("monthbutton").style.color="grey";
resetLayer();
run(false,1,isStacked);



// stack(data);
}

function clickedMonth(){
console.log("clicked month!");
document.getElementById("monateSlider").style.visibility = "visible";


var mon= getRangeInput();
document.getElementById("monthbutton").style.color="green";
document.getElementById("yearbutton").style.color="grey";
//d3.select(reset_var).select("svg").remove();
resetLayer();
 run(true,mon,isStacked);
//stack(data);

}
function resetLayer(){
 layers.selectAll("rect").remove();
// svg.select("g").remove();
 mainArea.select("g").selectAll(".grid-line").remove();
 mainArea.select("g").select("y axis").remove();
mainArea.selectAll(".axis").remove();

legendSeries.select("text").remove();

}

</script>
</body>

