
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.stacked-chart-container {
    position: relative;
}

.stacked-chart-container .controls {
    position: absolute;
    top: 24px;
    left: 18px;
}

.stacked-chart .clickable {
    cursor: pointer;
}

.stacked-chart-container .tooltip {
    position: absolute;
    font-size: 15px;
    white-space: nowrap;
    border: 1px solid black;
    background-color: white;
    pointer-events: none;
    border-radius: 5px;
    display: none;
}

.stacked-chart-container .tooltip-wrapper {
    position: relative;
    padding: 6px;
}

.stacked-chart-container .tooltip-wrapper:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      border: 10px solid;
      border-color: black transparent transparent transparent;
}

.stacked-chart-container .tooltip-wrapper:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: -19px;
      left: 50%;
      transform: translateX(-50%);
      border: 10px solid;
      border-color: white transparent transparent transparent;
}

.stacked-chart-container .tooltip-table {
    text-align: right;
}

.stacked-chart path,
.stacked-chart line,
.stacked-chart rect {
    shape-rendering: crispEdges;
}

.stacked-chart text {
    font: 12px sans-serif;
}

.stacked-chart .axis path,
.stacked-chart .axis line {
    fill: none;
    stroke: #000;
}

.stacked-chart .series-positive {
    fill: #39A535;
}

.stacked-chart .series-negative {
    fill: #f24848;
}

.stacked-chart .series-neutral {
    fill: #d8cecd;
}

.stacked-chart .grid-lines {
    fill: none;
    stroke: lightgrey;
}

.stacked-chart .layer rect {
    opacity: 0.8;
    transition: opacity 0.5s ease;
}

.stacked-chart .layer rect.highlighted {
    opacity: 1;

    animation-name: highlighted_flash;
     animation-duration: 0.3s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-play-state: running;

}

@keyframes highlighted_flash {
    from {opacity:1;}
    to {opacity:0.2;fill:grey;}
}
.stacked-chart .overlay {
    opacity: 0;
}

.stacked-chart .series-box {
    stroke-width: 2px;
}

.stacked-chart .series-positive .series-box {
    stroke: #39A535;
}

.stacked-chart .series-negative .series-box {
    stroke: #f24848;
}

.stacked-chart .series-neutral .series-box {
    stroke: #d8cecd;
}

.stacked-chart .disabled .series-box {
    fill-opacity: 0;
}

.stacked-chart .series-label {
    fill: black;
    text-anchor: end;
    alignment-baseline: central;
}
